* {
    margin: 0px;
}

/* TAMANHO BASE - 1360px (width) */


#azul {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 68px;
}

.h1-slaca19 {
    color: #ffffff; font-size: 30px; font-weight: bold; font-style: normal; display: flex; align-items: center; justify-content: center; margin: 0; padding: 0; text-align: center; margin-top: 4%;
}

#vermelho {
    min-height: 68px;
    background: #FDF1EB;
}


#preto {
    min-height: 1382px;
    border: 1px solid red;
}

#amarelo {
    min-height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#verde {
    background-color: green;
    height: 100px;
    width: 100%;
}

#vermelho2 {
    height: 68px;
}

#vermelho4 {
    height: 68px;
}

#header-text1 {
 font-size: 90%; color: #725c5c; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; margin: 0px; margin-left: 36px; margin-top: 5px;
}

#header-text2 {
    font-size: 130%; color: #725c5c; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; margin: 0px; margin-left: 36px;"
}

#header-text3 {
    font-size: 80%; color: #725c5c; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; margin: 0px; margin-left: 36px;
}

#button-language {
    margin-top: 17px;
    height: 36px; width: 97px; display: flex; flex-direction: row; margin-top: 11px; border: 1px solid #CCCCCC; box-sizing: border-box; border-radius: 3px; padding: 0px;
}

.text-language-button {
        font-family: 'Quicksand', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 14px;
        width: 42px;
        height: 18px;
        line-height: 17px;
        margin-top: 7px;
        margin-left: 2px;
        color: #333333;
}

.language-image {
    margin-bottom: 5px;
    margin-top: 3px;
}

.dropdown {
    border-left: 5px solid transparent;border-right: 6px solid transparent;border-top: 5px solid #333333;cursor: pointer;margin-top: 13px;margin-left: 5px; margin-right: 1px;
}

.text-md-rigth {
    margin-left: 125px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: 17px;
    height: 18px;
    width: 72px;
}

.text-md-rigth2 {
    margin-left: 90px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    height: 18px;
    width: 72px;
    margin-left: 13px;
    margin-top: -18px;
}

.img-fluid2 {
        border: 1px solid #F5F5F5;
        box-sizing: border-box;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-top: 19px;
        margin-left: -90px;
    }



#main-linha1 {
    width: 100%;
}

#main-space1 {
    display: flex; 
    flex: 3;
}

#main-text1 {
    height: 54px;
    left: 0px;
    margin-top: 6px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
    margin-top: 20px;
    margin-left: ;
}

#main-space1-2 {
    display: flex; 
    flex: 1;
}

.download-button {
    width: 120px;
    height: 31px;
    background: #ED7839;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 240px;
}

.download-button-img {
    width: 19px;
    height: 19px;
    margin-top: 7px;
    margin-left: 12px;
}

.download-button-text {
    height: 19px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 7px;
    margin-right: 12px;
    margin-left: 6px;
}

.favorite-button {
    cursor: pointer;
    background: #ED7839;
    border-radius: 4px;
    width: 43px;
    height: 31px;
    margin-left: 5px;
    margin-top: 10px;
}

.favorite-img {
    width: 25px;
    height: 25px;
    margin-left: 9px;
    margin-right: 5px;
    margin-top: 2px;
}

.doi-button {
    top: 20px;
    background: #ED7839;
    border-radius: 4px;
    cursor: pointer;
    width: 43px;
    margin-left: 5px;
    height: 31px;
    margin-top: 10px;
}

.doi-button-img {
        width: 19px;
        height: 19px;
        margin-top: 5px;
        margin-left: 12px;
}

.citacao {
    height: 25px;
    left: 0px;
    margin-right: 1%;
    top: 43px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ED7839;
    margin-bottom: 5px;
}

.main-linha2 {
    display: flex;
    flex-direction: row;
}

#banner {
    min-width: 784px;
    min-height: 439px;
    background-image: url('images/sobreposition1.PNG');
}

.video-overlay {
    position: absolute;
    width: 783px;
    height: 439px;
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
}

#image-video-sobreposition {
    display: none;
}

#text1-banner {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ffffff;
    height: 54px;
    margin-left: 32px;
    margin-top: 35px;
}

#img-video-icon {
    margin-left: 35px;
    margin-top: 200px;
    margin-right: 3px;
    box-sizing: border-box;
    width: 98px;
    height: 96px;
    border-radius: 50%;
    padding: 0;
}

.text-video-beatriz {
    height: 30px;
    right: 473px;
    margin-top: -80px;
    margin-left: 136px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.text-video-fca {
    height: 27px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-left: 136px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.detalhes-do-trabalho {
    width: 242px;
    height: 439px;
    margin-top: 5px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

.painel-header-detalhes {
    width: 242px;
    height: 45px;

    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

.painel-header-text {
    
    width: 212px;
    margin-top: 8px;
    height: 25px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.detalhes-trabalho-text {
    flex-direction: column;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    width: 212px;
    height: 364px;
    color: #5C5C5C;
}

.autores-front  {
    font-size: 14px;
}

.linha-autores {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2%;
}

/* MOBILE - IphoneX */

@media (min-width: 300px) and (max-width: 500px) {

    #vermelho {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }

    #vermelho2 {
        display: flex;
        flex-direction: column;
        height: 200px;
    }
    
    #vermelho3 {
        font-size: 13px;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    #vermelho4 {
        height: 100px;
        flex: 1;
    }

     #header-text1 {
        margin-top: 15px;
        margin-left: 2px;
    }

    #header-text2, #header-text3 {
        margin-left: 2px;
    }

    #amarelo {
        height: 100%;
    }
    
    .text-language-button {
        margin-top: 5px;
    }
    .language-image {
        margin-top: 2px;
        margin-left: 2px;
    }
    .dropdown {
        margin-left: 7px;
    }

    .img-fluid2 {
        background: #F5F5F5;
        border: 1px solid #F5F5F5;
        box-sizing: border-box;
    }

    #main-space1 {
        display: flex;
        flex-direction: column;
    }

    #main-text1 {
        display: flex;
        min-height: 16px;
        font-size: 20px;
        
    }

    #main-space1-2 {
        margin-top: 60px;
       
    }

    .download-button {
        margin-left: 15%;
        margin-bottom: 2%;
    }

    .favorite-img {
        margin-top: 4px;
    }

    .citacao {
        margin-right: 70px;
    }

    .main-linha2 {
        height: auto;
        height: auto;
    }

    #banner {
        display: none;
    }

    #image-video-sobreposition {
        display: inline-block;
        margin-top: 15px;
    }

    .main-linha2 {
        display: flex;
        flex-direction: column;
    }

}

/* MEDIA - MONITOR LARGO */

@media (min-width: 1800px) and (max-width: 2200px) {

    .citacao {
        margin-right: 320px;
    }

    .download-button {
        margin-left: 280px;
    }

}

